@model IEnumerable<WebApplication1.Models.StudentModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-12">
    <div class="planel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter the details below</h3>
        </div>
        <div class="panel body">
            <div class="form-groupcol-md-5">
                <label>Student Name</label>
                <input type="text" name="StudentName" id="StudentName" class="form-control" placeholder="Enter the name" required="" />
            </div>
            <div class="form-group col-md-5">
                <label>Student Last Name</label>
                <input type="text" name="StudentLastName" id="StudentLastName" class="form-control" placeholder="Enter the lastname" required="" />
            </div>
            <div class="form-group col-md-5">
                <label>Student Address</label>
                <input type="text" name="StudentAddress" id="StudentAddress" class="form-control" placeholder="Enter the address" required="" />
            </div>
            <div class="form-group col-md-5">
                <label>Student's Code'</label>
                <input type="text" name="StudentCode" id="StudentCode" class="form-control" placeholder="Enter the code" required="" />
            </div>
            <div class="form-group col-md-1">
                <div style="float:right; display:inline-block">
                    <input class="btn-primary" type="button" name="SubmitButton" id="btnSave" value="Save" placeholder="Enter the code" required="" />
                </div>
            </div>

        </div>
        <br />
        <table id="tblStudent" class="table table-bordered table-striped table-responsive table-hover">
            <thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <th align="left" class="productth">@item.studentID</th>
                        <th align="left" class="productth">@item.studentName</th>
                        <th align="left" class="productth">@item.studentLastName</th>
                        <th align="left" class="productth">@item.studentCode</th>
                    </tr>
                }
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(function(){
        //LoadData();

        $('#btnSave').click(function () {
            var std = {};
            std.studentName = $('#StudentName').val();
            std.studentAddress = $('#StudentAddress').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("createStudent")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    LoadData();
                },
                error: function () {
                    alert("Error while inserting data")
                }
            })
            return false;
        })
    })

    function LoadData() {
        $('#tblStudent tbody tr').remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getStudent")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td class='prtoducttd'>" + item.studentID + "</td>"
                        + "<td class='prtoducttd'>" + item.studentName + "</td>"
                        + "<td class='prtoducttd'>" + item.studentAddress + "</td>"
                        + "</tr>";
                    $('#tblStudent tbody').append(rows);
                })
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        })
        return false;
    }
    </script>
}

